
<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div class="container-fluid p-3">
        <div class="row d-flex justify-content-between">
            <div class="col-2">
                © 2022 Manish Shringi
            </div>
            <div class="col-2">
                All Right Reserved
            </div>
            <div class="col-2">
                <p><a href="/">Home</a></p>
                <% if(locals.user){%>
                    <p><a href="/users/profile/<%= locals.user.id %>">Profile</a></p>
                <%}else{%>
                    <p><a href="/users/profile/sign-in">Profile</a></p>
                <%}%>
                
            </div>
        </div>
    </div>
</footer>