
<link rel="stylesheet" href="<%= assetPath('css/sign_up.css') %>">

<div class="container" id="signUpDiv">
    <form action="/users/create" method="post">
        <div class="row text-center text-white">
            <h1>Sign Up</h1>
        </div>
        <div class="row">
            <div class="col-2 align-middle"><label for="name">Full Name :</label></div>
            <div class="col-9"><input type="text" id="name" name="name" placeholder="Enter your Full Name" required></div>
        </div>
        <div class="row">
            <div class="col-2"><label for="username">Email :</label></div>
            <div class="col-9"><input type="email" name="email" id="username" placeholder="Enter your email" required></div>  
        </div>
        <div class="row">
            <div class="col-2"><label for="password">Password :</label></div>
            <div class="col-9"><input type="password" id="password" name="password" placeholder="Enter your password" required></div>
        </div>
        <div class="row">
            <div class="col-2"><label for="confirm_password">Confirm Password :</label></div>
            <div class="col-9"><input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your password" required></div>
        </div>
        
        <div class="row">
            <div class="col-6 d-flex justify-content-between">
                <div class="col-5">
                    <button type="submit" class="btn btn-info btn-lg">Sign Up</button>
                </div>
                <div class="col-5">
                    <button type="reset" class="btn btn-danger btn-lg">Reset</button>
                </div>
                <div>
                    <a href="/users/auth/google">Sign up with google</a>
                </div>
            </div>
        </div>
    </form>
</div>