
<link rel="stylesheet" href="<%= assetPath('css/sign_in.css') %>">

        <form action="/users/create-session" method="post">
            <div class="container p-3">
                <div class="row text-white text-center">
                    <h1>Sign In Page</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group p-3">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="text" class="form-control" placeholder="Username" name="email" aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                        <div class="input-group p-3">
                            <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
                            <span class="input-group-text"><button type="submit">Sign In</button></span>
                        </div>
                        <div>
                            <a href="/users/auth/google">Sign in with google</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
