main {
  padding: 2%; }
  main #signUpDiv {
    background-color: darksalmon; }
    main #signUpDiv form div {
      font-size: 1.1rem;
      padding: 0.5rem; }
      main #signUpDiv form div div {
        display: flex;
        justify-content: start;
        align-items: center;
        color: maroon;
        font-size: 1.5rem; }
      main #signUpDiv form div input {
        padding: 10px;
        width: 60%;
        border: none;
        background: transparent;
        border-bottom: 2px solid maroon;
        color: maroon; }
