<!-- you cannot use bootstrap here direct -->
<div class="container .bg-success text-white">
    <div class="row">
        <div class="col">
            <p> Hi <%= comment.user.name %>!</p>
            <br>
            <p>Your comment <strong><%= comment.content %></strong> has published on codeial.</p>
            <br>
            <p>Thanks!</p>
        </div>
    </div>
</div>